/*
font-family:'Sketch Block W03';
font-family:'Sketch Block W00';
font-family:'Gist Rough W01';
font-family:'Special Forces W00';
font-family:'Adelle Condensed W01';
*/

* {box-sizing: border-box;} 

body {
  font-family:'Adelle Condensed W01', Georgia;
  text-align: center;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  background: url('land.svg') no-repeat;
  background-size: cover;
  background-position: 0 50%;
  background-color: #52811F;
  display: flex;
}

main {
  margin: auto;
}

h1 {
  font-family:'Sketch Block W00';
  font-size: 12vw;
  margin-bottom: 0;
  font-weight: 200;
}

h2 {
  font-family:'Sketch Block W00';
  font-weight: 200;
  margin: 0.5em 0 1em;
  text-align: center;
}

h3 {
  font-family:'Sketch Block W00';
  font-weight: 200;
  margin: 0.25em 0 0.5em;
}

h4 {
  font-weight: 200;
  margin: 0 0 1em;
  font-size: 1.4rem;
}
a {
  color: rgb(58, 98, 29);
}

p {
  margin-bottom: 1.5em;
}

.twitter {
  height: 2em;
  width: 2em;
  margin: 1em auto 1.5em;
  opacity: 0.6;
}
#mc_embed_signup {
  background: rgba(255,255,255,0.6);
  padding: 0.5rem 2rem 2rem;
  border-radius: 1em;
  margin: 0 auto 2rem;
}

.input-button {
  margin-top: 1em;
  width: 40%;
  margin-left: 59%;
}


#mc_embed_signup {
  max-width: 90vw;
}
#mc_embed_signup_scroll {
  text-align: left;
}
input {
  width: 100%;
  margin-bottom: 2px;
}
h2 {
  font-size: 1.2rem;  
}
h3 {
  font-size: 7vw;  
}

@media (min-width: 400px) {
  h2 {
    font-size: 1.4rem;  
  }
}

@media (min-width: 400px) {
  #mc_embed_signup_scroll {
    text-align: right;
  }
  input {
    width: 70%;
    margin-bottom: 2px;
  }
}

@media (min-width: 600px) {
  #mc_embed_signup {
    max-width: 80vw;
  }
  h2 {
    font-size: 5vw;  
  }
}

@media (min-width: 700px) {
  #mc_embed_signup {
    max-width: 70vw;
  }
  h2 {
    font-size: 4vw;  
  }
  h3 {
    font-size: 6vw;  
  }
}

@media (min-width: 800px) {
  #mc_embed_signup {
    max-width: 60vw;
  }
  h2 {
    font-size: 3vw;  
  }
}

@media (min-width: 900px) {
  #mc_embed_signup {
    max-width: 50vw;
  }
  h2 {
    font-size: 3vw;  
  }
  h3 {
    font-size: 5vw;  
  }
}



